@tailwind base;
@tailwind components;
@tailwind utilities;

/* --Hide scrollbar */
::-webkit-scrollbar {
    display: none;
}
.ms-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button:disabled {
    @apply bg-gray-100 text-gray-400;
}
